@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Playfair+Display&display=swap');

body {
  background: rgb(10,15,8);
  background: radial-gradient(circle, rgba(10,15,8,1) 0%, rgba(0,61,52,1) 0%, rgba(133,207,135,1) 0%, rgba(0,121,57,1) 100%);
}

.header-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.content-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.form-container > h2 {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 64px;
  text-align: center;
}

.create-event-form {
  display: flex;
  flex-flow: column;
}

.create-event-form > label {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: white;
  align-self: center;
}

.create-event-form > input {
  width: 300px;
  margin-bottom: 0.5em;
  font-family: 'Maven Pro', sans-serif;
}

#form-notes {
  margin-bottom: 30px;
  font-size: 20px;
}

#form-number {
  width: 20%;
  align-self: center;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

#submit-form-button {
  background: #007939;
  height: 60px;
  width: 150px;
  color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 1px black;
  align-self: center;
  margin-top: 5px;
}

#submit-form-button:hover {
  background: rgba(0, 140, 255, 0.3);
}

#close-form-button {
  background: #007939;
  font-family: "Maven Pro";
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 1px black;
  align-self: center;
  margin-top: 5px;
}

#close-form-button:hover {
  background: rgba(0, 140, 255, 0.3);
}

.task-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: fit-content;
  margin: 4em;
  margin-left: 8em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding-bottom: 10px;
}

.task-container > h2 {
  color: white;
}

.task-card-front {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  background-color: #007939;
  color: white;
  border-radius: 6px;
  font-family: 'Maven Pro', sans-serif;
  margin: 0.3em;
}

.task-card-front:hover {
  background: rgba(0, 140, 255, 0.3);
}

.schedule-container {
  display: flex;
  flex-flow: column;
  align-items: top;
  justify-content: center;
  width: 60%;
  height: fit-content;
  margin: 4em;
}

.event-container {
  display: flex;
  flex-flow: column;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.event-container > h4 {
  font-family: "Maven Pro";
  font-size: 20px;
  text-align: center;
  color: white;
  border-bottom: solid;
  border-width: 2px;
  border-color: black;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.event-card {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 1em;
  padding: 0.5em;
  margin: 0;
  width: stretch;
  height: 70px;
  border-bottom: solid 2px;
}

.event-card-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.event-card-text > p {
  margin: 0;
  padding-top: 0;
  font-family: 'Playfair Display', serif;
  color: white;
}

.event-card-text > h3 {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 24px;
}

.event-card-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 33%;
}

.event-card-buttons > button:hover {
  background: rgba(0, 140, 255, 0.3);
}

.event-card-buttons > button {
  background: #007939;
  font-family: "Maven Pro";
  height: 30px;
  width: 150px;
  color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 1px black;
  align-self: center;
  margin-top: 5px;
}

.event-card-goal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 33%;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}

.timer-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 800px;
  width: 100%;
  align-items: center;
}

.timer {
  font-size: 60px;
}

.timer-elements {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 300px;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border-radius: 6px;
}

.timer-elements > h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  margin-top: 0;
}

.timer-elements > p {
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 20px;
}



