body {
  background: rgb(10,15,8);
  background: radial-gradient(circle, rgba(10,15,8,1) 0%, rgba(0,61,52,1) 0%, rgba(133,207,135,1) 0%, rgba(0,121,57,1) 100%);
}

.header-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.content-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.task-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 500px;
  margin: 4em;
  margin-left: 8em;
}

.task-card-front {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  background-color: #007939;
  color: white;
  border-radius: 6px;
}

.schedule-container {
  display: flex;
  flex-flow: column;
  align-items: top;
  justify-content: center;
  width: 60%;
  height: 500px;
  margin: 4em;
}

.event-container {
  width: 100%;
  height: 100%;
}

.event-card {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 1em;
  padding: 0.5em;
  margin: 0;
  width: stretch;
  height: 70px;
}

.event-card-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.event-card-text > p {
  margin: 0;
  padding-top: 0;
}

.event-card-text > h3 {
  margin: 0;
  padding: 0;
}

.event-card-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 33%;
}

.event-card-goal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 33%;
}

.timer-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 40px;
}

.timer-elements {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
}

